nav-item{
    color:006666
}
body{
    background: #646B63;
    color:yellow;
    
    
    /* fallback for old Gris:646B63
     Verde:lightseagreen
     Verde Opaco:006666
     browsers */
    
    
}